<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/checkout.css" />
  </head>
  <body>
    <div class="container form-container">
      <h1 class="mt-4">Checkout</h1>

      <form action="/checkout" method="POST">
        <div class="order-details">
          <h2>Review Order</h2>
          {order}
        </div>

        <div class="payment-details">
          <h2>Payment Information</h2>
          {payment}
        </div>

        <div class="address-details">
          <h2>Address Information</h2>
          {address}
        </div>

        <input
          type="hidden"
          name="restaurant_id"
          value="{restaurant_id}"
          class="hidden-input"
        />

        <input
          type="submit"
          value="Checkout"
          class="btn btn-primary checkout-btn"
        />
      </form>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts (needed for Bootstrap functionality) -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNv1NH5u6HFnL+jJFfi4G8r6fr3p9DnDGmXFCXBkyw7XEg6cKZpR/6C5PVvW00c"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
