<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivering</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/deliver_home.css"
  </head>
  <body>
    <div class="container order-container">
      <h1 class="mt-4">Delivering Dashboard</h1>
      <h2 class="mt-4">Howdy, {username}</h2>

      <div class="mt-4 order-section">
        <h3>Ready Orders</h3>
        <ul class="order-list">
          {ready}
        </ul>
      </div>

      <div class="mt-4 order-section">
        <h3>Delivering Orders</h3>
        <ul class="order-list">
          {delivering}
        </ul>
      </div>

      <div class="mt-4 order-section">
        <h3>Delivered Orders</h3>
        <ul class="order-list">
          {delivered}
        </ul>
      </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts (needed for Bootstrap functionality) -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNv1NH5u6HFnL+jJFfi4G8r6fr3p9DnDGmXFCXBkyw7XEg6cKZpR/6C5PVvW00c"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
