<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Restaurant</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="/static/css/owner_restaurant.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container dashboard-container">
      <h1>Restaurant Dashboard</h1>
      <h2>{name}</h2>
      <h3>Address: {address}</h3>

      <h3>Menu</h3>
      {menu}
      <a href="/addFood?id={id}" class="btn btn-primary add-button"
        >Add Menu Item</a
      >

      <div class="order-list">
        <h3>Pending Orders</h3>
        {pending}
      </div>

      <div class="order-list">
        <h3>Processing Orders</h3>
        {processing}
      </div>

      <div class="order-list">
        <h3>Ready Orders</h3>
        {ready}
      </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts (needed for Bootstrap functionality) -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNv1NH5u6HFnL+jJFfi4G8r6fr3p9DnDGmXFCXBkyw7XEg6cKZpR/6C5PVvW00c"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
