<!DOCTYPE html>
<html>
  <head>
    <title>Address</title>
  </head>
  <body>
    <h1>Add Address</h1>
    <h2>Address Information</h2>
    <form action="/addAddress" method="POST">
        <label for="street">Street</label>
        <input type="text" name="street" id="street" />
        <br>
        <label for="city">City</label>
        <input type="text" name="city" id="city" />
        <br>
        <label for="state">State</label>
        <input type="text" name="state" id="state" />
        <br>
        <label for="zip">Zip</label>
        <input type="text" name="zip" id="zip" />
        <br>
      <input type="submit" value="Add New Address"/>
  </body>
</html>