<!DOCTYPE html>
<html>
  <head>
    <title>Payment</title>
  </head>
  <body>
    <h1>Add Credit Card</h1>
    <h2>Card Information</h2>
    <form action="/addPayment" method="POST">
      <label for="card_number">Card Number</label>
      <input type="text" name="card_number" id="card_number"/>
			<br>
      <label for="card_holder">Holder Name</label>
      <input type="text" name="card_holder" id="card_holder" />
      <br>
      <label for="expiration_date">Expiration Date</label>
      <input type="text" name="expiration_date" id="expiration_date" />
      <br>
      <label for="cvv">CVV</label>
      <input type="text" name="cvv" id="cvv" />
      <br>
      <input type="submit" value="Add New Payment"/>
  </body>
</html>